<%- include ('../../layout/adminlayout/header.ejs') %>
  <style>
.swal2-container {
    z-index: 2000 !important;
}

  </style>

  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar  ">
    <div class="layout-container">







      <!-- Menu -->

      <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">


        <div class="app-brand demo ">
         

          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="menu-toggle-icon d-xl-block align-middle"></i>
          </a>
        </div>

        <div class="menu-inner-shadow"></div>



        <ul class="menu-inner py-1">
          
          <li class="menu-item">

            <ul class="menu-sub">
              <li class="menu-item">
                <a href="dashboards-crm.html" class="menu-link">
                  <div data-i18n="CRM">CRM</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="index.html" class="menu-link">
                  <div data-i18n="Analytics">Analytics</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-ecommerce-dashboard.html" class="menu-link">
                  <div data-i18n="eCommerce">eCommerce</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-logistics-dashboard.html" class="menu-link">
                  <div data-i18n="Logistics">Logistics</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-academy-dashboard.html" class="menu-link">
                  <div data-i18n="Academy">Academy</div>
                </a>
              </li>
            </ul>
          </li>



          <li class="menu-item active open">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class='menu-icon tf-icons ri-shopping-bag-3-line'></i>
              <div data-i18n="woodnwonder">woodnwonder</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item ">
                <a href="/admin/dashboard" class="menu-link">
                  <div data-i18n="Dashboard">Dashboard</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Products">Products</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="/admin/product" class="menu-link">
                      <div data-i18n="Product List">Product List</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="/admin/addProduct" class="menu-link">
                      <div data-i18n="Add Product">Add Product</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Category">Category</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="/admin/category" class="menu-link">
                      <div data-i18n="List all category">List all category</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item active open ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Order">Order</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item active">
                    <a href="/admin/orders" class="menu-link">
                      <div data-i18n="Order List">Order List</div>
                    </a>
                  </li>

                </ul>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Customer">Customer</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="/admin/customers" class="menu-link">
                      <div data-i18n="All Customers">All Customers</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Offers">Offers</div>
                </a>
                <ul class="menu-sub">

                  <li class="menu-item ">
                    <a href="/admin/offers" class="menu-link">
                      <div data-i18n="Product Offers">Product Offers</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="/admin/offers/category" class="menu-link">
                      <div data-i18n="Category Offers">Category Offers</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Coupons Management">Coupons Management</div>
                </a>
                <ul class="menu-sub">

                  <li class="menu-item ">
                    <a href="/admin/coupons" class="menu-link">
                      <div data-i18n="Coupen">Coupen</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Sales Report">Sales Report</div>
                </a>
                <ul class="menu-sub">

                  <li class="menu-item">
                    <a href="/admin/salesreport" class="menu-link">
                      <div data-i18n="Report">Report</div>
                    </a>
                  </li>
                </ul>
              </li>

            </ul>
          </li>
        </ul>





      </aside>





      <div class="layout-page">






        <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar">









          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0   d-xl-none ">

          </div>


          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">








            <ul class="navbar-nav flex-row align-items-center ms-auto">






            </ul>
          </div>






        </nav>






        <div class="content-wrapper">



          <div class="container-xxl flex-grow-1 container-p-y">






            <div class="card">
              <div class="card-widget-separator-wrapper d-flex justify-content-between align-items-center p-3">
                <div class="d-flex align-items-center">
                </div>
              </div>

              <div class="card-datatable table-responsive px-4 pb-4">
                <table class="datatables-customers table table-hover dataTable no-footer dtr-column"
                  id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                  <thead>
                    <tr>
                      <th class="py-3">ORDER ID</th>
                      <th class="py-3">PURCHASE DATE</th>
                      <th class="py-3">ITEMS</th>
                      <th class="py-3">AMOUNT</th>
                      <th class="py-3">SHIP TO</th>
                      <th class="py-3">USER NAME</th>
                      <th class="py-3">PAYMENT TYPE</th>
                      <th class="py-3">ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orders.forEach((order, index)=> { %>
                      <tr>
                        <td class="align-middle">
                          <span class="text-body">
                            <%= index + 1 %>. #<%= order.orderId %>
                          </span>
                        </td>
                        <td class="align-middle">
                          <%= new Date(order.createdAt).toLocaleDateString('en-US') %>
                        </td>
                        <td class="align-middle">
                          <%= order.items.length%>
                        </td>
                        <td class="align-middle">
                          <%= order.total_amount %>
                        </td>
                        <td class="align-middle">
                          <%= order.address.name %>
                        </td>
                        <td class="align-middle">
                          <%= order.user.name %>

                        </td>
                        <td class="align-middle">
                          <%= order.payment_type.pay_type %>
                        </td>
                        <td class="align-middle">
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#orderDetailsModal<%=order.orderId%>">
                            View Order
                          </button>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
              </div>
            </div>




      
            <%for(let i=0;i<orders.length;i++) {%>
              <div class="modal fade" id="orderDetailsModal<%=orders[i].orderId%>" tabindex="-1"
                aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="orderDetailsModalLabel">Order Preview</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                   
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <h6>Order Information</h6>
                          <p>Order ID: <span>
                              <%= orders[i].orderId %>
                            </span></p>

                          <p>Order Date: <span>
                              <%= new Date(orders[i].createdAt).toLocaleDateString('en-US') %>
                            </span></p>
                          <p>Total Amount: <span>₹<%= orders[i].total_amount %></span></p>
                          <p>Payment Type: <span>
                              <%= orders[i].payment_type.pay_type %>
                            </span></p>
                          <p>Payment Status: <span>
                              <%=orders[i].paymentStatus%>
                            </span></p>
                        </div>
                        <div class="col-md-6">
                          <h6>Shipping Address</h6>
                          <% if (orders[i].address) { %>
                            <p><span>
                                <%= orders[i].address.name %>
                              </span></p>
                            <p><span>
                                <%=orders[i].address.address %>
                              </span></p>
                            <p><span>
                                <%= orders[i].address.city %>
                                  <%= orders[i].address.state %>
                                    <%= orders[i].address.pincode %>
                              </span></p>
                            <p><span>
                                <%= orders[i].address.phone %>
                              </span></p>
                            <% } else { %>
                              <p>No shipping address available</p>
                              <% } %>
                        </div>
                      </div>



                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Product</th>
                              <th>Quantity</th>
                              <th>Total</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody id="modalOrderItems">
                            <% orders[i].items.forEach(product=> { %>
                              <tr class="text-align: center">
                                <td>
                                  <%= product.name %>
                                </td>


                                <td>
                                  <%= product.quantity %>
                                </td>
                                <td>₹<%= product.total %>
                                </td>
                                <td>
                                  <%= product.status%>
                                </td>
                                <td>
                                  <% if(product.status !=='Cancelled' && product.status !=='Delivered' && product.status
                                    !=='Returned' && product.status !=='Return Requested' && product.status
                                    !=='Return Rejected' ) { %>
                                    <div class="d-flex justify-content-start align-items-center customer-country">
                                      <div>
                                        <a href="/admin/updateStatus?itemid=<%= product._id%>&orderid=<%= orders[i].orderId %>">
                                          <button type="button" class="btn btn-primary">
                                              EDIT
                                          </button>
                                      </a>
                                      </div>
                                    </div>
                                    <% } %>
                                </td>
                                <td>
                                  <% if(product.status !=='Cancelled' && product.status !=='Delivered' && product.status
                                    !=='Returned' && product.status !=='Return Requested' && product.status
                                    !=='Return Rejected' ) { %>
                                    <button id="cancel-order" class="btn btn-danger cancel-order" data-bs-toggle="modal"
                                      data-order-id="<%= orders[i].orderId %>">
                                      CANCEL
                                    </button>

                                    <% } %>
                                </td>
                              </tr>
                              <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <% } %>












            <script>
              function showOrderDetails(orderId) {

                const order = orders.find(o => o.orderId === orderId);


                document.getElementById('modalOrderId').innerText = order.orderId;
                document.getElementById('modalOrderDate').innerText = new Date(order.createdAt).toLocaleDateString('en-US');
                document.getElementById('modalTotalAmount').innerText = order.total_amount;
                document.getElementById('modalPaymentType').innerText = order.payment_type.pay_type;
                document.getElementById('modalPaymentStatus').innerText = order.payment_status;


                document.getElementById('modalShippingName').innerText = order.address.name;
                document.getElementById('modalShippingAddress').innerText = order.address.street + ', ' + order.address.city;
                document.getElementById('modalShippingCity').innerText = order.address.state + ' ' + order.address.zip;
                document.getElementById('modalShippingPhone').innerText = order.address.phone;




              }

            </script>
            <script>
              
          
              document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('.cancel-order').forEach(button => {
    button.addEventListener('click', async function(e) {
      e.preventDefault();
      const orderId = this.getAttribute('data-order-id');
      
      try {
        const result = await Swal.fire({
          title: 'Are you sure?',
          text: "This order will be canceled permanently!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Yes, cancel it!',
          cancelButtonText: 'No, keep it',
          customClass: {
            container: 'swal2-custom-z-index'
          }
        });

        if (result.isConfirmed) {
          const response = await fetch(`/api/orders/${orderId}/cancel`, {
            method: 'PUT', // Changed from DELETE to PUT since we're updating status
            headers: {
              'Content-Type': 'application/json'
            },
            // Include CSRF token if you're using it
            credentials: 'same-origin'
          });

          const data = await response.json();

          if (data.success) {
            await Swal.fire({
              title: 'Canceled!',
              text: 'The order has been canceled.',
              icon: 'success',
              confirmButtonText: 'OK'
            });
            window.location.reload();
          } else {
            throw new Error(data.message || 'Failed to cancel order');
          }
        }
      } catch (error) {
        console.error('Error:', error);
        await Swal.fire({
          title: 'Error!',
          text: error.message || 'Something went wrong.',
          icon: 'error',
          confirmButtonText: 'OK'
        });
      }
    });
  });
});


            </script>





            <%- include ('../../layout/adminlayout/footer.ejs') %>