<%- include ('../../layout/adminlayout/header.ejs') %>

<style>
  .image-upload-container {
       position: relative;
       width: 100%;
       height: 200px;
       border: 2px dashed #ccc;
       border-radius: 8px;
       overflow: hidden;
       transition: all 0.3s ease;
   }

   .image-upload-container:hover {
       border-color: #007bff;
   }

   .image-upload-input {
       position: absolute;
       width: 100%;
       height: 100%;
       opacity: 0;
       cursor: pointer;
       z-index: 2;
   }

   .image-upload-label {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
       background-color: #f8f9fa;
       cursor: pointer;
   }

   .upload-placeholder {
       text-align: center;
       color: #6c757d;
   }

   .upload-placeholder i {
       font-size: 3rem;
       margin-bottom: 10px;
   }

   .img-preview {
       width: 100%;
       height: 100%;
       object-fit: cover;
       display: none;
   }

   .image-actions {
       position: absolute;
       bottom: 10px;
       left: 50%;
       transform: translateX(-50%);
       display: none;
       z-index: 3;
   }

   .image-upload-container:hover .image-actions {
       display: flex;
       gap: 10px;
   }

   .btn-sm {
       padding: 0.25rem 0.5rem;
       font-size: 0.875rem;
   }

   .image-upload-container {
       position: relative;
       width: 100%;
       height: 200px;
       border: 2px dashed #ccc;
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;
   }

   .image-upload-input {
       position: absolute;
       width: 100%;
       height: 100%;
       opacity: 0;
       cursor: pointer;
   }

   .upload-placeholder {
       text-align: center;
   }

   .img-preview {
       max-width: 100%;
       max-height: 100%;
       object-fit: contain;
   }
   input.error {
       border-color: red;
   }
   label.error {
       color: red;
   }

</style>





<script>
(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '../../../../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5DDHKGP');
        </script>


  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar  ">
    <div class="layout-container">






      <!-- Menu -->

      <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">


        <div class="app-brand demo ">
          <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo me-1">
              <span style="color:var(--bs-primary);">
                <svg width="30" height="24" viewBox="0 0 250 196" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.3002 1.25469L56.655 28.6432C59.0349 30.1128 60.4839 32.711 60.4839 35.5089V160.63C60.4839 163.468 58.9941 166.097 56.5603 167.553L12.2055 194.107C8.3836 196.395 3.43136 195.15 1.14435 191.327C0.395485 190.075 0 188.643 0 187.184V8.12039C0 3.66447 3.61061 0.0522461 8.06452 0.0522461C9.56056 0.0522461 11.0271 0.468577 12.3002 1.25469Z"
                    fill="currentColor" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 65.2656L60.4839 99.9629V133.979L0 65.2656Z" fill="black" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 65.2656L60.4839 99.0795V119.859L0 65.2656Z" fill="black" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M237.71 1.22393L193.355 28.5207C190.97 29.9889 189.516 32.5905 189.516 35.3927V160.631C189.516 163.469 191.006 166.098 193.44 167.555L237.794 194.108C241.616 196.396 246.569 195.151 248.856 191.328C249.605 190.076 250 188.644 250 187.185V8.09597C250 3.64006 246.389 0.027832 241.935 0.027832C240.444 0.027832 238.981 0.441882 237.71 1.22393Z"
                    fill="currentColor" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M250 65.2656L189.516 99.8897V135.006L250 65.2656Z" fill="black" />
                  <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd"
                    d="M250 65.2656L189.516 99.0497V120.886L250 65.2656Z" fill="black" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                    fill="currentColor" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                    fill="white" fill-opacity="0.15" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                    fill="currentColor" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                    fill="white" fill-opacity="0.3" />
                </svg>
              </span>
            </span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2">Materio</span>
          </a>

          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="menu-toggle-icon d-xl-block align-middle"></i>
          </a>
        </div>

        <div class="menu-inner-shadow"></div>



        <ul class="menu-inner py-1">
          <!-- Dashboards -->
          <li class="menu-item">

            <ul class="menu-sub">
              <li class="menu-item">
                <a href="dashboards-crm.html" class="menu-link">
                  <div data-i18n="CRM">CRM</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="index.html" class="menu-link">
                  <div data-i18n="Analytics">Analytics</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-ecommerce-dashboard.html" class="menu-link">
                  <div data-i18n="eCommerce">eCommerce</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-logistics-dashboard.html" class="menu-link">
                  <div data-i18n="Logistics">Logistics</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-academy-dashboard.html" class="menu-link">
                  <div data-i18n="Academy">Academy</div>
                </a>
              </li>
            </ul>
          </li>

          <!-- Layouts -->


          <!-- Front Pages -->



          <!-- Apps & Pages -->

          <!-- e-commerce-app menu start -->
          <li class="menu-item active open">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class='menu-icon tf-icons ri-shopping-bag-3-line'></i>
              <div data-i18n="shopEazy">shopEazy</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item ">
                <a href="/admin/dashboard" class="menu-link">
                  <div data-i18n="Dashboard">Dashboard</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Products">Products</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="/admin/product" class="menu-link">
                      <div data-i18n="Product List">Product List</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="/admin/addProduct" class="menu-link">
                      <div data-i18n="Add Product">Add Product</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Category">Category</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="/admin/category" class="menu-link">
                      <div data-i18n="List all category">List all category</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item active open">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Order">Order</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="/admin/orders" class="menu-link">
                            <div data-i18n="Order List">Order List</div>
                        </a>
                    </li>
                    <li class="menu-item active">
                        <a href="/admin/addProduct" class="menu-link">
                            <div data-i18n="Update Status">Update Status</div>
                        </a>
                    </li>
                </ul>
            </li>
        
                </ul>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Customer">Customer</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="/admin/customers" class="menu-link">
                      <div data-i18n="All Customers">All Customers</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Offers">Offers</div>
                </a>
                <ul class="menu-sub">
        
                  <li class="menu-item ">
                    <a href="/admin/offers" class="menu-link">
                      <div data-i18n="Product Offers">Product Offers</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="/admin/offers/category" class="menu-link">
                      <div data-i18n="Category Offers">Category Offers</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item ">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Coupons Management">Coupons Management</div>
                </a>
                <ul class="menu-sub">
        
                  <li class="menu-item ">
                    <a href="/admin/coupons" class="menu-link">
                      <div data-i18n="Coupen">Coupen</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <div data-i18n="Sales Report">Sales Report</div>
                </a>
                <ul class="menu-sub">
        
                  <li class="menu-item">
                    <a href="/admin/salesreport" class="menu-link">
                      <div data-i18n="Report">Report</div>
                    </a>
                  </li>
                </ul>
              </li>
             
            </ul>
          </li>
        </ul>





      </aside>
   



     
      <div class="layout-page">





        

        <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar">









          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0   d-xl-none ">

          </div>


          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">








            <ul class="navbar-nav flex-row align-items-center ms-auto">






            </ul>
          </div>






        </nav>






        <div class="content-wrapper">



          <div class="container-xxl flex-grow-1 container-p-y">






            

            <form action="" method="POST" id="update-order-status" >
              <input type="hidden" id="hiddenid" name="orderid" value="<%= orderId %>">
              <input type="hidden" id="hiddenitemid" name="itemid" value="<%= product._id %>">
                  <div class="container-xxl flex-grow-1 container-p-y">


                      <div class="app-ecommerce">

                          <!-- Add Product -->
                          <div
                              class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-6 gap-4 gap-md-0">

                              <div class="d-flex flex-column justify-content-center">
                                  <h4 class="mb-1">Update Order Status</h4>
                                  <p class="mb-0">Orders placed across your store</p>
                              </div>
                              <div class="d-flex align-content-center flex-wrap gap-4">
                                  <!-- <button class="btn btn-outline-secondary waves-effect">Discard</button> -->
                                 
                                  <button type="submit" class="btn btn-primary waves-effect waves-light">Update
                                      Status</button>
                              </div>
                          </div>

                          <div class="row">

                              
                              <div class="col-12 col-lg-8">
                                 
                                  <div class="card mb-6">
                                      <div class="card-header">
                                          <h5 class="card-tile mb-0">Order information</h5>
                                      </div>
                                      <div class="card-body">
                                          <div class="form-floating form-floating-outline mb-5">
                                              <div class="formgroup1">
                                                  <label for="ecommerce-product-name" class="errMsgSignup">Order Id</label>
                                                  <input type="text" class="form-control" id="ecommerce-product-name"
                                                  placeholder="Product title" name="productTitle"
                                                 value="<%= order?.orderId %>" disabled>
                                              
                                              </div>
                                              
                                          </div>


                                          <div class="row gx-5 mb-5">
                                              <div class="col">
                                                  
                                              </div>
                                              
                                          </div>
                                      
                                          <div class="form-control p-0 pt-1 comment-editor border-0 pb-1 ql-container ql-snow"  id="ecommerce-category-description">
                                              <div class="col-md-6">
                                                  <p><strong>Order Date:</strong> <span>
                                                      <%= order?.created_at %>
                                                  </span></p>
                                                  <p><strong>Product ID:</strong> <span>
                                                          <%= product?._id %>
                                                      </span></p>
                                                      <p><strong>Product Name:</strong> <span>
                                                          <%= product?.name %>
                                                      </span></p>
                                                 
                                                  <p><strong>Product Quantity:</strong> <span><%= product?.quantity
                                                              %></span></p>
                                                 
                                                  <p><strong>Product Total Price:</strong> <span>
                                                      ₹<%= product?.total  %>
                                                      </span></p>
                                                  <p><strong>Payment Status:</strong> <span>
                                                          <%= order.payment_status %>
                                                      </span></p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                 

                              </div>
                             

                           
                              <div class="col-12 col-lg-4">
                                
                                  <div class="card mb-6">
                                      <div class="card-header" >
                                          <h5 class="card-title mb-0">Status</h5>
                                      </div>
                                      <div class="card-body">


                                        <div class="form-floating form-floating-outline form-floating-select2 pt-2">
                                          <div class="position-relative">
                                              <label for="product-status" class="errMsgSignup">Select Product Status</label>
                                              <select name="productOption" 
                                                      id="product-status" 
                                                      class="form-select select2" 
                                                      data-placeholder="Select product status">
                                              
                                                  <option value="Pending" <%= product?.status === 'Pending' ? 'selected' : '' %>>
                                                      Pending
                                                  </option>
                                                  <option value="Processing" <%= product?.status === 'Processing' ? 'selected' : '' %>>
                                                      Processing
                                                  </option>
                                                  <option value="Shipped" <%= product?.status === 'Shipped' ? 'selected' : '' %>>
                                                      Shipped
                                                  </option>
                                                  <option value="Delivered" <%= product?.status === 'Delivered' ? 'selected' : '' %>>
                                                      Delivered
                                                  </option>
                                              </select>
                                          </div>
                                      </div>
                                          
                                      </div>
                                  </div>
                              </div>
                           
                          </div>
                      </div>
                  </div>
              </form>





           
           <script>
          
          
          document.addEventListener('DOMContentLoaded', function() {
    const updateOrderForm = document.getElementById('update-order-status');
    
    updateOrderForm.addEventListener('submit', function(event) {
        event.preventDefault();
        
        const status = document.getElementById('product-status').value.trim();
        const orderId = document.getElementById('hiddenid').value.trim();
        const itemId = document.getElementById('hiddenitemid').value.trim();
        
       
        console.log('Sending update request:', { status, orderId, itemId });
        
        updateOrderStatus(status, orderId, itemId);
    });
});

async function updateOrderStatus(status, orderId, itemId) {
    try {
        const response = await fetch('/admin/updateOrderStatus', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            credentials: 'include', 
            body: JSON.stringify({
                orderId: orderId,
                itemId: itemId,
                status: status
            })
        });

        if (!response.ok) {
            const errorText = await response.text();
            console.error('Server response:', errorText);
            throw new Error(`Server error: ${response.status}`);
        }

        const data = await response.json();
        
        if (data.success) {
            Swal.fire({
                title: 'Success!',
                text: data.message,
                icon: 'success',
                confirmButtonText: 'OK'
              }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = data.redirectUrl;
                            }
                        });
        } else {
            Swal.fire({
                title: 'Error!',
                text: data.message || 'Failed to update order status',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        }
    } catch (error) {
        console.error('Error updating order status:', error);
        Swal.fire({
            title: 'Error!',
            text: 'An unexpected error occurred. Please try again.',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    }
}



        </script>


            <%- include ('../../layout/adminlayout/footer.ejs') %>