
<%- include ('../../layout/adminlayout/header.ejs') %>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container">

    
    






<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  
  <div class="app-brand demo ">
   
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  
  
  <ul class="menu-inner py-1">
   
    <li class="menu-item">
     
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="dashboards-crm.html" class="menu-link">
            <div data-i18n="CRM">CRM</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="index.html" class="menu-link">
            <div data-i18n="Analytics">Analytics</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="app-ecommerce-dashboard.html" class="menu-link">
            <div data-i18n="eCommerce">eCommerce</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="app-logistics-dashboard.html" class="menu-link">
            <div data-i18n="Logistics">Logistics</div>
          </a>
        </li>
       
      </ul>
    </li>

   
    
   
    <li class="menu-item active open">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ri-shopping-bag-3-line'></i>
        <div data-i18n="woodnwonder">woodnwonder</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item ">
          <a href="/admin/dashboard" class="menu-link">
            <div data-i18n="Dashboard">Dashboard</div>
          </a>
        </li>
        <li class="menu-item active open">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Products">Products</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item active">
              <a href="/admin/product" class="menu-link">
                <div data-i18n="Product List">Product List</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/addProduct" class="menu-link">
                <div data-i18n="Add Product">Add Product</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Category">Category</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/category" class="menu-link">
                <div data-i18n="List all category">List all category</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Order">Order</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/orders" class="menu-link">
                <div data-i18n="Order List">Order List</div>
              </a>
            </li>
  
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Customer">Customer</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/customers" class="menu-link">
                <div data-i18n="All Customers">All Customers</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Offers">Offers</div>
          </a>
          <ul class="menu-sub">
  
            <li class="menu-item ">
              <a href="/admin/offers" class="menu-link">
                <div data-i18n="Product Offers">Product Offers</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/offers/category" class="menu-link">
                <div data-i18n="Category Offers">Category Offers</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Coupons Management">Coupons Management</div>
          </a>
          <ul class="menu-sub">
  
            <li class="menu-item ">
              <a href="/admin/coupons" class="menu-link">
                <div data-i18n="Coupen">Coupen</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Sales Report">Sales Report</div>
          </a>
          <ul class="menu-sub">
  
            <li class="menu-item">
              <a href="/admin/salesreport" class="menu-link">
                <div data-i18n="Report">Report</div>
              </a>
            </li>
          </ul>
        </li>
       
      </ul>
    </li>
  </ul>
   
    
  
  

</aside>

    <div class="layout-page">
      
      




<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  

  

      
      

      
      
      <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0   d-xl-none ">
        
      </div>
      

      <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

        
      
        
        

        

        <ul class="navbar-nav flex-row align-items-center ms-auto">

          
          
         
          


        </ul>
      </div>

      
     
      
      
  
</nav>


      <div class="content-wrapper">

        
          <div class="container-xxl flex-grow-1 container-p-y">
            
            

<div class="card">
  <div class="card-widget-separator-wrapper d-flex justify-content-between align-items-center p-3">
    <div class="d-flex align-items-center">
    </div>
    <a href="/admin/addProduct" class="btn btn-primary">+Add Product</a>
  </div>
  <div class="card-datatable table-responsive">
    <table class="datatables-order table">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectAll"></th> 
          <th>#</th>
          <th>Products</th>
          <th>Category</th>
          <th>Stock</th>
          <th>Status</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="productTableBody">
        <% products.forEach((product, index) => { %>
          <tr>
            <td><input type="checkbox" class="selectProduct" data-id="<%= product._id %>"></td>
            <td>
            <img src="/uploads/<%= product.productImage[0] %>" alt="Product Image" width="60" height="60">

            </td>
            <td><%= product.productName %></td>
            <td><%= product.Category.name %></td> 
            <td><%= product.quantity %></td>
            <td><%= product.status %></td>
            <td>₹<%= product.price %></td>
            <td>


              <a href="/admin/editProduct?id=<%= product._id %>" class="btn btn-warning btn-sm">Edit</a>

           
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>




<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
    <% if (typeof totalPages !== 'undefined' && totalPages > 0) { %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
    <% } else { %>
      <li class="page-item disabled">
        <a class="page-link" href="#">No Pages</a>
      </li>
    <% } %>
  </ul>
</nav>

        

    


      


  
 
  <%- include ('../../layout/adminlayout/footer.ejs') %> 